header{
    .logo{
        width: 140px;
        display: flex;
        justify-content: flex-start;
        background-color: black;
        }

        nav{
            .piz1{

            
          .referencias{
              ul{
                  li{
                      a{
                          color: white !important;
                      }
                  }

              }
          }  
        }
        } 
}